ipykernel
langchain
langgraph
langchain-community
langchain-huggingface
langchain-groq
langchain-core
langchain-astradb
streamlit
langsmith
python-dotenv
cassio
langchainhub
tiktoken
beautifulsoup4
wikipedia
arxiv
fastapi
uvicorn
validators